<aside [class.open]="estaAbierto" class="sidebar">
    <div class="inner">
        <header>
            <button type="button" (click)="alternarBarraLateral()">
                <span class="material-symbols-outlined">
                    {{ estaAbierto ? 'close' : 'menu' }}
                </span>
            </button>
            <div class="logo-container">
                <span class="app-name">¡Aguas!</span>
            </div>
        </header>

        <nav>
            <button type="button" *ngFor="let item of elementosNavegacion" (click)="alHacerClicItem(item.accion || '')"
                [class.active]="router.url === item.accion">
                <span class="material-symbols-outlined">{{ item.icono }}</span>
                <p>{{ item.nombre }}</p>
            </button>
        </nav>

        <div class="user-info" *ngIf="usuario">
            <img [src]="usuario.urlFoto || 'https://ui-avatars.com/api/?name=' + usuario.nombre + '&background=random'"
                class="avatar" alt="Perfil" />

            <div class="detalles" *ngIf="estaAbierto">
                <p class="nombre">{{ usuario.nombre }}</p>
                <p class="rol">Administrador</p>
                <p class="correo" title="{{ usuario.correo }}">{{ usuario.correo }}</p>
            </div>
        </div>
    </div>
</aside>